// colors
$primary-color: #2196f3;
$primary-color-light: #8aa8c0;

$secondary-color: #4bb39a;
$tiertiary-color: #b34b88;
$tiertiary-color-dark: #35212d;

$light-color: #f4f4f4;
$grey-color: #cfd7dd;
$dark-color:  #2a2829;
$danger-color: #dc3545;
$success-color: #027317;

$max-width: 1580px;

$spaceamounts: (1, 2, 3, 4, 5);
// responsive breakpoints
// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;

